{% extends ':admin:admin_base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <thead>
    <tr id="row-filters-label">
        {% for user in users %}
                <th id="{{ column.field }}" {% if column.sortable %}data-index="{{ column.index }}"{% endif %}>{{ column.name }}</th>
        {% endfor %}
    </tr>
    <tr class="row-filters">
        {% for column in view.grid.columns %}
            {% if column.exportOnly == false %}
                <th>{{ column.renderFilter | raw }}</th>
            {% endif %}
        {% endfor %}
    </tr>
    </thead>
    <tbody class="table-condensed row-result"></tbody>
    <tbody class="row-empty">
    <tr>
        <td colspan="{{ view.grid.getColumnsCount }}">{% trans %}There is no rows.{% endtrans %}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr class="row-footer">
        <td colspan="{{ view.grid.getColumnsCount }}">
            <button id="refresh-button" class="btn btn-default btn-xs" type="submit">
                <i class="glyphicon glyphicon-refresh"></i> {% trans %}Update{% endtrans %}
            </button>

            <button id="refresh-filters-button" class="btn btn-default btn-xs" type="button">
                <i class="glyphicon glyphicon-filter"></i> {% trans %}Refresh Filters{% endtrans %}
            </button>

            <div id="pagination" class="pull-right">
                <button id="pagination-back-button" class="btn btn-default btn-xs" type="button">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                </button>
                <input id="pagination-page" type="text" value="0">
                <button id="pagination-forward-button" class="btn btn-default btn-xs" type="button">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </button>

                {% trans %}of{% endtrans %}
                <span id="pagination-total-pages">0</span>
                {% trans %}page(s) with{% endtrans %}
                <span id="pagination-total">0</span>
                {% trans %}result(s){% endtrans %}.
                {% trans %}Showing{% endtrans %}
                <input id="pagination-limit" type="text" value="0">
                {% trans %}result(s) per page{% endtrans %}.
            </div>
        </td>
    </tr>
    </tfoot>
    </table>
{% endblock %}
{% block javascript %}
    <script type="text/javascript"  src="{{ asset('public/js/ajax-grid.js') }}"></script>
    <script>
        $("#entities-grid").ajaxgrid({
            columnsNames: ["E-Mail", "Role", "Activated"],
            sortColumns: ["email", "role", "isActive"],
            filterColumns: ["role", "isActive"],
            limit: 20
        });
    </script>
{% endblock %}