{% extends ':admin:admin_base.html.twig' %}

{% block body %}
    <div class="header">
        <a href="{{ path('homepage') }}"><img src="{{ asset('../images/title.jpg') }}"></a>
    </div>

    <div class="sidebar_categories">

        <div class="search">
            <form role="search" action="{{ path('post_search') }}" method="post">
                <div class="row" style="margin: 10px;">
                    <input type="search" name="query" class="form-control" placeholder="{{ 'search' | trans }}"
                           value="{% if searched is defined %}{{ searched }}{% endif %}">
                    <button type="submit" class="btn btn-default" style="margin-top: 10px; width: 100%">{{ 'search' | trans }}</button>
                </div>
            </form>
        </div>

        <hr>

        <div class="auth row">
            {{ 'welcome' | trans() }}, <a href="{{ path('admin_home') }}" title="Personal account"><strong>{{ app.user.username }}</strong></a>
            <a class="btn btn-logout btn-sm btn-block" href="{{ path('logout') }}" style="width: 100%;">{{ 'logout' | trans }}</a>
        </div>

        <hr>

        <div class="admin_sidebar">
            <ul class="admin-list">
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('users_show') }}" class="list">{{ 'users' | trans }}</a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('posts_show_admin') }}" class="list">{{ 'posts' | trans }}</a></li>
                {% else %}
                    <li><a href="{{ path('posts_show') }}" class="list">{{ 'posts' | trans }}</a></li>
                {% endif %}
                    <ul><li><a href="{{ path('create_post') }}" class="list">{{ 'post.add' | trans }}</a></li></ul></li>
                <li><a href="{{ path('categories_show') }}" class="list">{{ 'categories' | trans }}</a></li>
            </ul>
        </div>

        <div class="bottom-sidebar">
            <script>
                function setLocale(locale) {
                    Cookies.set("locale", locale);
                    location.reload();
                }
            </script>

            <div class="language">
                <img src="{{ asset('../images/usa.jpg') }}" onclick="setLocale('en')">
                <img src="{{ asset('../images/rus.jpg') }}" onclick="setLocale('ru')">

            </div>
            <div class="footer">
                <footer>© 2017, Palina and Maria</footer>
            </div>
        </div>
    </div>

    <div class="content">
        <div id="data-wrapper">
        </div>
    </div>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ asset('js/fos_js_routes.js') }}"></script>
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/ajaxgrid.js') }}"></script>
    <script>
        $('#data-wrapper').ajaxgrid({
            'dataUrl': '{{ path('posts_show_admin') }}',
            'sortableColumns': ['title', 'rating', 'creationDate'],
            'filterableColumns': ['author', 'category'],
            'rowsPerPage': 10,
            'filter': '{{ 'filter' | trans }}',
            'edit': 'admin_post_edit'
        })
    </script>
{% endblock %}