{% extends 'base.html.twig' %}

{% block body %}

    <table>
        <tr>
            <th>{{ 'id'}}</th>
            <th>{{ 'name'}}</th>
            <th>{{ 'email'}}</th>
            <th>{{ 'role'}}</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td><a href="{{ path('users_show', {'id': user.id}) }}">{{ user.username }}</a></td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles[0] }}</td>
                <td><a href="{{ path('user_block', {'id': user.id}) }}">Block user</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}