{% extends 'base.html.twig' %}

{% block body %}
    <div class="header">
        <a href="{{ path('homepage') }}"><img src="{{ asset('../images/title.jpg') }}"></a>
    </div>

    <div class="sidebar_categories">

        <div class="search">
            <form role="search" action="{{ path('post_search') }}" method="post">
                <div class="row" style="margin: 10px;">
                    <input type="search" name="query" class="form-control" placeholder="{{ 'search' | trans }}"
                           value="{% if searched is defined %}{{ searched }}{% endif %}">
                    <button type="submit" class="btn btn-default"
                            style="margin-top: 10px; width: 100%">{{ 'search' | trans }}</button>
                </div>
            </form>
        </div>

        <hr>

        <div class="auth row">
            {{ 'welcome' | trans }},
            {% if is_granted('ROLE_MANAGER') %}
            <a href="{{ path('admin_home') }}" title="Personal account">
                {% endif %}
                <strong>{{ app.user.username }}</strong>
                {% if is_granted('ROLE_MANAGER') %}
            </a>
            {% endif %}
            <a class="btn btn-logout btn-sm btn-block" href="{{ path('logout') }}" style="width: 100%;">{{ 'logout' | trans }}</a>
        </div>

        {% if not app.user.isSubscribed %}
            <div class="subsribe"><a href="{{ path('subscribe', {"user": app.user.id}) }}"><strong>{{ 'subscribe' | trans }}</strong></a></div>
        {% else %}
            <div class="subsribe"><a href="{{ path('unsubscribe', {"user": app.user.id}) }}"><strong>{{ 'unsubscribe' | trans }}</strong></a></div>
        {% endif %}

        <hr>

        <div class="categories">
            <h1>{{ 'categories' | trans }}</h1>
            <ul class="categories-list">
                {% for category in categories %}

                    <li><a href="{{ path('category_posts', {'category': category.id}) }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="bottom-sidebar">
            <script>
                function setLocale(locale) {
                    Cookies.set("locale", locale);
                    location.reload();
                }
            </script>

            <div class="language">
                <img src="{{ asset('../images/usa.jpg') }}" onclick="setLocale('en')">
                <img src="{{ asset('../images/rus.jpg') }}" onclick="setLocale('ru')">

            </div>
            <div class="footer">
                <footer>© 2017, Palina and Maria</footer>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row sort">
            <span>
                {{ 'sort_by' | trans }}: {{ knp_pagination_sortable(pagination, 'release' | trans , ['p.creationDate', 'p.creationDate']) }}|
                {{ knp_pagination_sortable(pagination, 'rating' | trans , ['p.rating', 'p.rating']) }}
            </span>
        </div>
        {% for post in pagination %}
            <div class="row post">
                <div class="post_title"><a href="{{ path('post', {'id': post.id}) }}">{{ post.title }}</a></div>
                <div class="post_date">{{ post.creationDate | date('h:m:s d M Y') }} ( +{{ post.rating }})
                </div>
                <div class="post_show">
                    <div class="post_image">
                        <img src="{{ path("image", {"filename": post.image}) }}" width="300" height="200">
                    </div>
                    <div class="post_summary">{{ post.summary }}</div>
                    <div style="display: flex; justify-content: flex-end;" class="action-buttons">
                        <a href="{{ path('post', {'id': post.id}) }}" class="read_more btn-action">{{ 'read_more' | trans }}</a>
                        {% if is_granted('ROLE_MANAGER') %}
                        <a href="{{ path('delete_post', {'id': post.id}) }}" class="delete btn-action">{{ 'delete' | trans }}</a>
                        <a href="{{ path('edit_post', {'id': post.id}) }}" class="edit btn-action">{{ 'edit' | trans }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="navigation row" style="margin-left: 30px">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    </div>
{% endblock %}