{% extends 'base.html.twig' %}

{% block title %}
   Login page
{% endblock %}

{% block body %}
    <header>
        ItraNEWS!
    </header>
    <div class="container">
        {% if error is defined and error is not null %}
            <div class="alert alert-danger">{{ error.messageKey }}</div>
        {% endif %}
        {% if message is defined %}
            <div class="alert alert-success">{{ message }}</div>
        {% endif %}
        <form action="{{ path('login') }}" method="post" class="form-signin">

            <span class="form-signin-heading">Please, sign in</span>

            <label for="username" class="sr-only">Username:</label>
            <input id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Email address" required autofocus>
            <label for="password" class="sr-only">Password:</label>
            <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required>

            <button class="btn btn-lg btn-danger btn-block" style="margin-top: 5px">Sign in</button>
        </form>
        <div class="buttons">

        <a class="btn btn-sm btn-action btn-block" href="{{ path('forgotPassword') }}">Forgot password?</a>

        <a class="btn btn-sm btn-action btn-block" href="{{ path('signup') }}">Sign up</a>
        </div>

    </div>

{% endblock body %}
